
<div th:fragment="lineChart">
  <div>
    <canvas id="chart"></canvas>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

  <script th:inline="javascript">
    var data = /*[[${data}]]*/ [];

    var ctx = document.getElementById('chart').getContext('2d');
    var chart = new Chart(ctx, {
      type: 'line',
      data: {
        datasets: [{
          label: 'Stock Price',
          data: data,
          borderColor: 'blue',
          fill: false
        }]
      },
      options: {
        scales: {
          xAxes: [{
            type: 'time',
            time: {
              unit: 'day'
            }
          }]
        }
      }
    });
  </script>
</div>
