<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Home</title>
</head>
<body>
    <div>
        <p>Welcome home <a th:text="${username}"></a>!</p>
    </div>
    <p>Please type in a stock ticker, and set a time interval (SIXTY_MIN)</p>
    <form action="#" th:action="@{/ticker/data}" th:object="${stockDataRequestForm}" method="get">
        <span th:if="${#fields.hasGlobalErrors()}" th:errors="*{global}">Global error</span><br/>
        <input type="text" th:field="*{ticker}" placeholder="Ticker"/>
        <span th:if="${#fields.hasErrors('ticker')}" th:errors="*{ticker}">Ticker error</span><br/>
        <input type="text" th:field="*{interval}" placeholder="Interval"/>
        <span th:if="${#fields.hasErrors('interval')}" th:errors="*{interval}">Interval error</span><br/>
        <button type="submit">Request Data</button>
    </form>
</body>
</html>