<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<div class="text-center">
    <header>
        <div th:replace="fragments/header.html :: header">&nbsp;</div>
    </header>
    <div class="row">
        <div class="col-sm-6"><p class="text-info">Image Goes Here</p></div><!-- This is for the image that will be accompanying the text-->
        <div class="col-sm-6">
            <h2 class="display-6">What is the Midas Project?</h2>
            <p>
                The Midas Project is an effort to construct an system that can profit from swing trading. It is created by Mad Atlas/Aidan Scott.
                The best situation is to be able to have asset valuation increase by 5% every month by investing large percentages of total cash
                compared to traditional investing recomendations. This creates a very risky situation, so making a correct prediction is of high
                importance. To create a system that can predict stock price in the near future, an AI in conjunction with traditional technical
                analysis will be used as the prediciton algorithm.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <h2 class="display-6">How Complete is the Project?</h2>
            <p>
                The Objectives accomplished in the Midas Project are: simulation system, trading system, training data formatter, website and
                database. The predictive algorithm and decision making algorithm havent been created yet. The Project is schedualed to be finished
                by the end of 2022.
            </p>
        </div>
        <div class="col-sm-6"><p class="text-info">Image Goes Here</p></div><!-- This is for the image that will be accompanying the text-->
    </div>

    <div class="row">
        <div class="col-sm-6"><p class="text-info">Image Goes Here</p></div><!-- This is for the image that will be accompanying the text-->
        <div class="col-sm-6">
            <h2 class="display-6">What are the Project Goals?</h2>
            <p>
                The Goals of the Midas Project are create a system to automate the author's personal swingtrading hobby making it into
                its own business. Even at an increase in assets each month by 1% out proforms the market, and the goal is 5%, so creating
                a small company that offers Midas's trading capability as a service looks profitable. Roanoke Trading would promise a
                percentage of projected gains to the customer based on their controbution. They contribute 100$, the Midas creates a gain
                of 5%, but we promised 4% of their total.
            </p>
        </div>
    </div>

</div>
</html>