<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>User Registration</title>
</head>
<body>
<h1>Register</h1>
<form action="#" th:action="@{/register}" th:object="${registerForm}" method="post">
    <span th:if="${#fields.hasGlobalErrors()}" th:errors="*{global}">Global error</span><br/>
    <input type="text" th:field="*{username}" placeholder="Username"/>
    <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username error</span><br/>
    <input type="password" th:field="*{password}" placeholder="Password"/>
    <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password error</span><br/>
    <input type="confirmPass" th:field="*{confirmPass}" placeholder="Confirm Password"/>
    <span th:if="${#fields.hasErrors('confirmPass')}" th:errors="*{confirmPass}">Confirm Password error</span><br/>
    <input type="phonenumber" th:field="*{phoneNumber}" placeholder="Phone number"/>
    <span th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}">Phone Number error</span><br/>
    <input type="email" th:field="*{email}" placeholder="Email"/>
    <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Password error</span><br/>
    <button type="submit">Register Account</button>
</form>
</body>
</html>